<h2> Log In </h2>

<p><i><%= @error %></i></p>
<%= form_tag %>
<%= label_tag :name %>
<%= text_field_tag :name %>
<%= label_tag :password %>
<%= password_field_tag :password %>
<%= submit_tag 'Log In'%>