<h1> Register to Rate and Review Wine </h1>

<%= form_for @user do |f| %>
    <%= f.label :name %>
    <div><%= f.text_field :name %><div><br />
    <%= f.label :password %>
    <div><%= f.password_field :password %></div>
    <% f.label :confirm_password %>
    <div><%= f.password_field :password_confirmation%></div>
    <%= f.submit "Join" %>
<% end %>
