<h2> Reviews of <i><%= @wine.name %></i></h2>

<b><%= link_to "Add New Review".html_safe, new_wine_review_path(@wine) %> </b>
<% @wine.reviews.each do |review| %>
    
    <p><%= review.review %></p>
    <p><%= review.rating %> out of 5</p>
    <p>Review on: <%= review.created_at.strftime("%Y-%m-%d") %></p>
    <hr>

<% end %>






