
<h2> Add a Review for <i><%= @wine.name %></i></h2>

<%= render partial: '/errors', locals: { record: @review } %>

<%= form_for @review do |f| %>
    <%= f.label :review %>
    <%= f.text_area :review %>
    <%= f.hidden_field :wine_id, value: @wine.id %>
    <%= f.submit "Add Review" %>
<% end %>