
<h2> Add a Review for <i><%= @wine.name %></i></h2>

<%= render partial: '/errors', locals: { record: @review } %>

<%= form_for @review do |f| %>
    <%= f.label :review %>
    <div><%= f.text_area :review %></div>
    
    
    <%= f.label :rating %> 
    <div><%= f.text_area :rating %>

    <%= f.hidden_field :wine_id, value: @wine.id %>
    <div><%= f.submit "Add Review" %></div>
<% end %>