<h3> Wines </h3>

<%= @wines.each do |wine| %>
    <p>Name: <%= wine.name %></p>
    <p>Year: <%= wine.year %></p>
    <p>Grape Variety: <%= wine.grape_variety %></p>
    <p>Country of Origin: <%= wine.country_of_origin %></p>

<% end %>