<h2> Wines </h2>

<%= link_to "Filter by Red Wines", wines_red_path %>
<%= link_to "Filter by White Wines", wines_white_path %>
<%= link_to "Filter by Sparkling Wines", wines_sparkling_path %>
<%= link_to "See All Wines", wines_path %>

<% @wines.each do |wine| %>
    <h3><%= link_to wine.name, wine_reviews_path(wine)%></h3>
   
    <p>Year: <%= wine.year %></p>
    <p>Grape Variety: <%= wine.grape_variety %></p>
    <p>Country of Origin: <%= wine.country_of_origin %></p>
   

<% end %>